<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-white">Opening Hours</h5>
          <ul class="list-unstyled text-muted">
            <li>Mon - Fri: 7am - 9pm</li>
            <li>Sat: 8am - 10pm</li>
            <li>Sun: 9am - 8pm</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-white">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/" class="text-white">Home</a></li>
            <li><a href="/products" class="text-white">Products</a></li>
            <li><a href="/contact" class="text-white">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-white">Contact</h5>
          <ul class="list-unstyled text-muted">
            <li>123 Café Street</li>
            <li>City, State, 12345</li>
            <li>P: (123) 456-7890</li>
          </ul>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <p class="text-muted mb-0">&copy; 2024 Café. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  
    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>