.card {
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.card-body {
  padding: 40px;
}
.form-control {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn-primary:hover {
  background-color: #495057;
}
.carousel-item {
  height: 300px;
}
.carousel-item img {
  object-fit: cover;
  height: 100%;

}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
}
.carousel-control-prev,
.carousel-control-next {
  display: none;
}
.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
  display: flex;
}
.carousel-inner {
  display: flex;
}

.carousel-item {
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
